apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  name: create-logging-loki-s3
  namespace: openshift-logging
spec:
  template:
    spec:
      serviceAccountName: s3-secret-generator
      containers:
      - image: quay.io/openshift/origin-cli:4.11
        name: create-logging-loki-s3
        command:
        - /bin/sh
        - -c
        - |
          echo "Waiting for lokistack-s3 secret to appear"
          while ! oc get secret lokistack-s3; do sleep 5s; done
          echo "Waiting for likstack-s3 ConfigMap to appear"
          while ! oc get configmap lokistack-s3; do sleep 5s; done
          sleep 5s;
          ACCESS_KEY_ID=$(oc get secret lokistack-s3 -o jsonpath='{.data.AWS_ACCESS_KEY_ID}')
          ACCESS_KEY_SECRET=$(oc get secret lokistack-s3 -o jsonpath='{.data.AWS_SECRET_ACCESS_KEY}')
          BUCKETNAME=$(oc get cm lokistack-s3 -o jsonpath='{.data.BUCKET_NAME}')
          ENDPOINT=https://$(oc get cm lokistack-s3 -o jsonpath='{.data.BUCKET_HOST}')
          oc apply -f - << EOF
          apiVersion: v1
          kind: Secret
          metadata:
            annotations:
              argocd.argoproj.io/sync-wave: "4"
            name: logging-loki-s3
            namespace: openshift-logging
          data:
            access_key_id: ${ACCESS_KEY_ID}
            access_key_secret: ${ACCESS_KEY_SECRET}
          stringData:
            bucketnames: ${BUCKETNAME}
            endpoint: ${ENDPOINT}
          EOF
      restartPolicy: Never
