apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: openshift-config
type: Opaque
data:
  {{ item.filename }}: "{{ lookup('template', 'custom_login/' + item.filename + '.j2') | b64encode}}"
