apiVersion: v1
kind: Secret
metadata:
  name: azure-group-sync
  namespace: group-sync-operator
type: Opaque
stringData:
    AZURE_CLIENT_ID: {{ encrypted_openid_clientid }}
    AZURE_CLIENT_SECRET: {{ encrypted_openid_client_secret }}
    AZURE_TENANT_ID: {{ encrypted_openid_tenant_id }}
