apiVersion: v1
kind: Secret
metadata:
  name: ldap-bind-password-{{ item.name }}
  namespace: group-sync-operator
type: Opaque
stringData:
  username: "{{ item.binddn }}"
  password: "{{ item.bindpass }}"
