apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: group-sync-operator
type: Opaque
stringData:
  AZURE_CLIENT_ID: {{ item.openid_clientid }}
  AZURE_CLIENT_SECRET: {{ item.openid_client_secret }}
  AZURE_TENANT_ID: {{ item.openid_tenantid }}
