kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: ocs-local-storage
  labels:
    local.storage.openshift.io/owner-name: ocs-local-storage
    local.storage.openshift.io/owner-namespace: openshift-local-storage
provisioner: kubernetes.io/no-provisioner
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
