#jinja2: lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: backend-{{ item.name }}
  namespace: trident
type: Opaque
stringData:
  username: "{{ item.credentials.username }}"
  password: "{{ item.credentials.password }}"
