apiVersion: trident.netapp.io/v1
kind: TridentOrchestrator
metadata:
  name: trident
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "5"
spec:
  namespace: trident
  debug: false
  sileceAutosupport: false
