apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    generatedFromAnsible: "true"
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |+
    {{ config_yaml | to_nice_yaml |  indent(width=4) }}
